@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF2F2;
  --text: #2D336B;
  --primary: #FFF2F2;
  --secondary: #A9B5DF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
